VITE_API_URL=http://localhost:4000
VITE_API_PREFIX=/api/v1
VITE_DEFAULT_LOCALE=th
VITE_SENTRY_DSN=
VITE_ISSUE_SERVICE_URL=http://localhost:4003
VITE_URL_BHLOGISTICS=http://localhost:5173
VITE_URL_PRSYSTEM=http://localhost:5174
VITE_URL_LMSCASA=http://localhost:5175
VITE_URL_XBLOOM=http://localhost:5176
VITE_URL_QSC=http://localhost:8083
